.login-container
{
    .box{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:30%;
        padding:40px;
        background:rgba(0,0,0,.8);
        box-sizing:border-box; 
        box-shadow:0 15px 25px rgba(0,0,0,.5);
        border-radius:10px;
        h2{
            margin:0 0 30px;
            padding:0;
            color:#fff;
            text-align:center;
        }
        label{
            color:white;
            margin-bottom: 20px;
        }
        .inputbox{
            margin-bottom: 20px;
        }
        .signup-link{
            color: white;
            span{
                color: #03a9f4;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}